@import url('https://fonts.googleapis.com/css?family=Inter');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #303030;
    overflow-x: hidden;
    overflow-y: hidden;
}

.navigation {
    width: 100%;
    height: 200px;
    background: #232323;
}

.navigation h1 {
    font-family: "Inter";
    text-align: center;
    width: 100%;
    cursor: pointer;
    top: 75px;
    position: absolute;
    background-color: #232323;
    color: white;
    letter-spacing: 8px;

}

.navigation ul {
    justify-content: space-evenly;
    display: flex;
    transform: translateY(550%);
    list-style-type: none;
    background-color: #232323;
}

.navigation li {
    background-color: #232323;
}

.navigation a {
    font-size: 20px;
    font-family: "Inter";
    background-color: #232323;
    color: white;
    text-decoration: none;
    letter-spacing: 4px;
    transition: letter-spacing .3s;

}

.navigation a:hover {
    letter-spacing: 8px;
    transition: letter-spacing  .3s;
}

/*

    mixium.html / hamburger


*/
.navigation .hamburger {
    cursor: pointer;
    background-color: white;
}

.navigation .hamburger ul {
    display: none;
    transform: translateY(550%);
    position: absolute;
    list-style-type: none;
    background-color: #232323;
}

.navigation .hamburger li {
    background-color: #232323;
}

.navigation .hamburger a {
    font-size: 15px;
    font-family: "Inter";
    background-color: #232323;
    color: white;
    text-decoration: none;
    letter-spacing: 4px;
    transition: letter-spacing .3s;

}

.navigation .hamburger a:hover {
    letter-spacing: 8px;
    transition: letter-spacing  .3s;
}


/*

    mixium.html / about-box

*/

.aboutbox {
    background-color: white;
    position: sticky;
    justify-content: space-evenly;
    display: flex;
    width: 500px;
    float: left;
    left: 175px;
    right: 80%;
    height: 300px;
    margin-top: 20px;
}


.aboutbox p {
    font-family: "Inter";
    background-color: white;
    padding: 40px;
    float: left;
    left: 10%;
}

.aboutbox a {
    font-size: 15px;
    color: #303030;
    font-family: "Inter";
    background-color: white;
    text-decoration: none;
}

@media (max-width:600px) {
    .navigation ul {
        display: none;
    }
    .navigation .hamburger ul {
        position: absolute;
        transform: translateY(800%);
        width: 100%;
        justify-content: space-evenly;
        display: flex;
    }
}

/*
.on {
    transform: translateY(50%);
    transition: transform .3s;
}

._0 {
    transition: transform .3s;
    transform: translate(0%, 0%);
}


@media (max-width:1000px) {
    header ul {
        display:none;
    }

    .littleHeader {
        display: block;
    }
}
*/


.download {
    display: block;
    position: sticky;
    padding: 50px;
}

.download h1 {
    justify-content: space-evenly;
    display: block;
    font-family: "Inter";
}

.download input {
    border-radius: 5px;
    font-family: "Inter";
    display: block;
    background-color: white;
}

.download button {
    background-color: white;
    font-family: "Inter";
    justify-content: center;
    display: block;
    font-size: 13px;
    border-radius: 0 0 10px 0;
    padding: 5px;
}

.download label {
    background-color: #303030;
    color: white;
    font-family: "Inter";
}